<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Create an Account</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= form_for(@user, :html => { class: "form-horizontal" }) do |f| %>
        <%= render partial: 'errors', locals: { target: @user } %>
        <div class="form-group">
          <%= f.label :first_name, class: "col-sm-4" %>
          <%= f.text_field :first_name, class: "col-sm-8", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :last_name, class: "col-sm-4" %>
          <%= f.text_field :last_name, class: "col-sm-8", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :email, class: "col-sm-4" %>
          <%= f.text_field :email, class: "col-sm-8", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :username, class: "col-sm-4" %>
          <%= f.text_field :username, class: "col-sm-8", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "col-sm-4" %>
          <%= f.password_field :password, class: "col-sm-8", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class: "col-sm-4" %>
          <%= f.password_field :password_confirmation, class: "col-sm-8", required: true %>
        </div>
        <%= f.submit "Create My Account" %>
      <% end %>
    </div>
  </div>
</div>
